:root {

    /**
colors
*/
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(353, 100%, 78%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);




    /**
typography
*/

    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;

    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    /**
bother raduis
*/
    --border-radius-md: 10px;
    --border-radius-sm: 5px;



    /**
transitions
*/

    --transition-timing: 0.2s ease;
}


/**
Resent
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
}

img,
ion-icon,
button,
a {
    display: block;
}

span {
    display: inline-block;
}

html {
    font-family: "poppins", sans-serif;
    overscroll-behavior: contain;
}

input {
    display: block;
    width: 100%;
    font: inherit;
}

input::placeholder {
    font: inherit;
}

body {
    background: var(--white);
    padding-bottom: 60px;
}


/**
scrollbar style
*/

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: var(--white);
    border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border: 3px solid var(--white);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%);
}


/* REUSED STYLE */
.container {
    padding: 0 15px;
}

.has-scrollbar {
    padding-bottom: 5px;
}

.has-scrollbar::-webkit-scrollbar {
    width: 12px;
    /* for vertical scroll*/
    height: 12px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid var(--white);
    border-radius: 20px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 90%);
}

.has-scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 80%);
}

.title { 
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-600);
    letter-spacing: 0.4px;
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cultured);
    margin-bottom: 30px;
}


/* BANNER*/

.banner {
    margin: 20px 0;
    background-color: var(--eerie-black);

}

.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: var(--border-radius-md);
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
}

.slider-item {
    position: relative;
    min-width: 100%;
    max-height: 450px;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    scroll-snap-align: start;
}

.slider-item .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    background-color: var(--salmon-pink);

   
   
}

.banner-content {
    background: hsla(0, 0%, 100%, 0.8);
    position: absolute;
    bottom: 55px;
    left: 25px;
    right: 25px;
    padding: 20px 25px;
    border-radius: var(--border-radius-md);
}

.banner-subtitle {
    color: var(--salmon-pink);
    font-size: var(--fs-7);
    font-weight: var(--weight-500);
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 10px;
}


.banner-title {
    color: var(--eerie-black);
    font-size: var(--fs-1);
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 10px;
}

.banner-text {display: none;}

.banner-btn {
    background: var(--salmon-pink);
    color: var(--white);
    width: max-content;
    font-size: var(--white);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 4px 10px;
    border-radius: var(--border-radius-sm);
    transition: var(--transition-timing);
}

.banner-btn:hover { background: var(--eerie-black)}



/* DEAL OF THE DAY*/

.product-featured {
    margin-bottom: 30px;
    
    
  
}



.title {
    color: var(--salmon-pink);
    padding: 50px;
    margin: 20px;
    font-size: larger;
}

.product-featured .showcase-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    
}

.product-featured .shohwcase-container {
    min-width: 100%;
    padding: 30px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    scroll-snap-align: start;
    

}

.product-featured .showcase-img {
    display: block;
    width: 325px;
    height: 20%;
    object-fit: cover; 
    margin-left: auto;
    margin-right: auto;
   
    
}

.product-featured .showcase-content { margin-top: 30px;}



.product-featured .showcase-rating {
    color: var(--sandy-brown);
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 15px;
}

.product-featured .showcase-title {
    font-size: var(--fs-7);
    color: var(--eerie-black);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    margin-bottom: 3px;
}
 
.product-featured .showcase-desc {
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    font-weight: var(--weight-300);
    margin-bottom: 10px;
}

.product-featured .price-box {
    font-size: var(--fs-3);
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.product-featured .price {
    color: var(--salmon-pink);
    font-weight: var(--weight-700);
}

.product-featured del {
    color: var(--sonic-silver);
    font-weight: var(--weight-300);
}

.product-featured .add-cart-btn {
    background: var(--salmon-pink);
    padding: 8px 15px;
    color: var(--white);
    font-weight: var(--fs-9);
    font-weight: var(--weight-700);
    text-transform: uppercase;
    border-radius: var(--border-radius-md);
    margin-bottom: 15px;
    transition: var(--transition-timing);
}

.product-featured .add-cart-btn:hover {
    background: var(--eerie-black);
    color: var(--white);
}

.product-featured .showcase-status { margin-bottom: 15px;}

.product-featured .showcase-status .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--weight-400);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-featured .showcase-status-bar {
    background: var(--cultured);
    position: relative;
    height: 10px;
    border-radius: 5px;
}

.product-featured .showcase-status-bar::before {
    position: absolute;
    content: '';
    top: 3px;
    left: 3px;
    height: 4px;
    width: 45%;
    background: var(--salmon-pink);
    border-radius: 4px;
}

.product-featured .countdown-desc{
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    margin-bottom: 18px;
}

.product-featured .countdown {
    display: flex;
    gap: 5px;
}

.product-featured .countdown-content {
    padding: 5px;
    background:  var(--cultured);
    border-radius: var(--border-radius-md);
    text-align: center;
}

.product-featured .display-number {
    color: var(--eerie-black);
    font-size: var(--fs-5);
    font-weight: var(--weight-500);
    min-width: 40px;
}

.product-featured .display-text {
    color: var(--davys-gray);
    font-size: var(--fs-11);
}


/* CARD SECTION*/

.body {
    background-color: #f0f0f0;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;

}

.card {
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.iphone-spec{
    font-size: small;
    color: var(--sonic-silver);
}

.price-card1{
    font-size: normal;
    padding: 5px;
}
.card-del{
    font-size: normal;
    padding: 5px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-btn {
    background: var(--salmon-pink);
    padding: 8px 15px;
    color: var(--white);
    font-weight: var(--fs-9);
    font-weight: var(--weight-700);
    text-transform: uppercase;
    border-radius: var(--border-radius-md);
    margin-bottom: 15px;
    transition: var(--transition-timing);
    margin-left: 5px;
    
}

.card-btn:hover{
    background-color: var(--eerie-black);
}

.card-del{
    color: var(--sonic-silver);
    font-weight: var(--weight-300);
}

.price-card{
    font-size: var(--fs-3);
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.price-card1{
    color: var(--salmon-pink);
    font-weight: var(--weight-700);
}


/* OTHER IPHONES */

.product-minimal { margin-bottom: 30px; }

.product-minimal .product-showcase { margin-bottom: 10px; }

.product-minimal .showcase-wrapper {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
}

.product-minimal .shohwcase-container {
    max-width: 100%;
    min-width: 100%;
    padding: 0 5px;
    scroll-snap-align: start;
}

.product-minimal .showcase {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    border: 1px solid var(--cultured);
    padding: 15px;
    border-radius: var(--border-radius-md);
}

.product-minimal .showcase:not(:last-child) { margin-bottom: 40px;}

 
.product-minimal .showcase-content { width: calc(100% - 85px);}

.product-minimal .showcase-title {
    color: var(--eerie-black);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
}

.product-minimal .showcase-category {
    width: max-content;
    color: var(--davys-gray);
    font-size: var(--fs-8);
    text-transform: capitalize;
    margin-bottom: 3px;
}

.product-minimal .showcase-category:hover { color: var(--salmon-pink);}

.product-minimal .price-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-minimal .price {
    font-size: var(--fs-7);
    font-weight: var(--weight-700);
    color: var(--salmon-pink);
}

.product-minimal .price-box del {
    font-size: var(--fs-9);
    color: var(--sonic-silver);
}

.arrival-btn{
    background: var(--salmon-pink);
    padding: 10px 10px;
    color: var(--white);
    font-weight: var(--fs-9);
    font-weight: var(--weight-700);
    text-transform: uppercase;
    border-radius: var(--border-radius-md);
    margin-bottom: 15px;
    transition: var(--transition-timing);
    font-size: smaller;
    
}

.arrival-btn:hover{
    background-color: var(--eerie-black);
    color: var(--white);
}

/* back to homepage*/
.back-to-home-page{
    background: var(--salmon-pink);
    padding: 10px 10px;
    color: var(--white);
    font-weight: var(--fs-9);
    font-weight: var(--weight-700);
    text-transform: uppercase;
    border-radius: var(--border-radius-md);
    margin-bottom: 15px;
    transition: var(--transition-timing);
    font-size: smaller;
    width: 150px;
    
}

.back-to-home-page:hover{
    background-color: var(--eerie-black);
    transition: 2s;

}

/* ABOUT US */

.hero{
    background-color: var(--white);
    overflow: hidden;
    }
    .heading h1{
        color: #ff6347;
        font-size: 55px;
        text-align: center;
        margin-top: 35px;
    }
    
    .about-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 65px auto;
    }
     
    .hero-container{
        flex: 1;
        width: 690px;
        margin: 0px 25px;
        animation: fadeInUp s ease;
    }
    .hero-container h2{
        font-size: 38px;
        margin-bottom: 20px;
        color: #333;
    }
    .hero-container p{
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 40px;
        color: #666;
    }
    .hero-container button{
        display: inline-block;
        background-color: #ff4500;
        color: #fff;
        padding: 12px 24px;
        border-radius: 5px;
        font-size: 20px;
        border: none;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .hero-container button:hover{
        background-color: black;
        transition: scale(1.1);
    }
    
    .hero-image{
        flex: 1;
        width: 600px;
        margin: auto;
        animation: fadeInRight 2s ease;

        
    }
    .about-img{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    @media screen and (max-width: 768px) {
        .heading h1{
            font-size: 45px;
            margin-top: 30px;
        }
        .hero{
            margin: 0px;
        }
        .about-container{
            width: 100%;
            flex-direction: column;
            margin: 0p;
            padding: 0px 40px;
    
        }
        .hero-container{
            width: 100%;
            margin: 35px 0px;
        }
        .hero-container h2{
            font-size: 30px;
        }
        .hero-container p{
            font-size: 16px;
            margin-bottom: 20px;
        }
        .hero-container button{
            font-size: 16px;
            padding: 8px 16px;
            
        }
        .hero-image{
            width: 100%;
        }
    }
    
    @keyframes fadeInUp{
        0%{
            opacity: 0;
            transform: translateY(50px);
        }
    
        100%{
            opacity: 0;
            transform: translateY(0px);
        }
    }
    
    @keyframes fadeInRight {
        0%{
            opacity: 1;
            transform: translateX(-50px);
        }
    
        100%{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    /* social media handles*/

    footer{
        background-color: #111;
    }
    .footerContainer{
        width: 100%;
        padding: 70px 30px 20px ;
    }
    .socialIcons{
        display: flex;
        justify-content: center;
    }
    .socialIcons a{
        text-decoration: none;
        padding:  10px;
        background-color: white;
        margin: 10px;
        border-radius: 50%;
    }
    .socialIcons a i{
        font-size: 2em;
        color: black;
        opacity: 0,9;
    }
    /* Hover affect on social media icon */
    .socialIcons a:hover{
        background-color: #111;
        transition: 0.5s;
    }
    .socialIcons a:hover i{
        color: white;
        transition: 0.5s;
    }
    .footerNav{
        margin: 30px 0;
    }
    .footerNav ul{
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
    .footerNav ul li a{
        color:white;
        margin: 20px;
        text-decoration: none;
        font-size: 1.3em;
        opacity: 0.7;
        transition: 0.5s;
    
    }
    .footerNav ul li a:hover{
        opacity: 1;
    }
    .footerBottom{
        background-color: #000;
        padding: 20px;
        text-align: center;
    }
    .footerBottom p{
        color: white;
    }
    .designer{
        opacity: 0.7;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        margin: 0px 5px;
    }
    @media (max-width: 700px){
        .footerNav ul{
            flex-direction: column;
        } 
        .footerNav ul li{
            width:100%;
            text-align: center;
            margin: 10px;
        }
        .socialIcons a{
            padding: 8px;
            margin: 4px;
        }
    }


    /* footer for iphone*/
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}





 
 